[submodule "libusb"]
	path = libusb
	url = https://github.com/hayguen/libusb.git
[submodule "pthread-win32"]
	path = pthread-win32
	url = https://github.com/hayguen/pthread-win32.git
[submodule "librtlsdr"]
	path = librtlsdr
	url = https://github.com/hayguen/librtlsdr.git
