// Microsoft Visual C++ generated resource script.
//

#include <windows.h>

#include "resource.h"

/////////////////////////////////////////////////////////////////////////////
// Neutral resources

#if !defined(AFX_RESOURCE_DLL) || defined(AFX_TARG_NEU)
LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL
#pragma code_page(1252)

/////////////////////////////////////////////////////////////////////////////
//
// Dialog
//

DLG_MAIN DIALOGEX 0, 0, 160, 170
STYLE DS_SETFONT | DS_MODALFRAME | DS_3DLOOK | DS_CENTER | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
EXSTYLE WS_EX_TOPMOST
CAPTION "ExtIO RTL-SDR"
FONT 8, "Ms Shell Dlg", 0, 0, 0x0
BEGIN
    LTEXT           "Device",IDC_STATIC,8,6,80,8
    COMBOBOX        IDC_RTL_DEVICE,8,16,140,300,CBS_DROPDOWNLIST | CBS_HASSTRINGS

    LTEXT           "Direct Sampling",IDC_STATIC,8,34,80,8
    COMBOBOX        IDC_RTL_DIR_SAMPLING,8,44,54,90,CBS_DROPDOWNLIST | CBS_HASSTRINGS

    LTEXT           "Sample Rate",IDC_STATIC,8,62,80,8
    COMBOBOX        IDC_RTL_SAMPLE_RATE,8,72,54,300,CBS_DROPDOWN | CBS_HASSTRINGS,WS_EX_RIGHT
    LTEXT           "Hz",IDC_STATIC,66,74,20,14

    LTEXT           "Buffer Size",IDC_STATIC,8,90,80,8
    COMBOBOX        IDC_RTL_BUFFER,8,100,54,300,CBS_DROPDOWNLIST | CBS_HASSTRINGS,WS_EX_RIGHT
    LTEXT           "kB",IDC_STATIC,66,102,20,14

    LTEXT           "Frequency Correction",IDC_STATIC,8,118,80,8
    EDITTEXT        IDC_RTL_PPM,8,128,54,14,ES_RIGHT | ES_AUTOHSCROLL | ES_NUMBER
    CONTROL         "",IDC_RTL_PPM_CTL,"msctls_updown32",UDS_SETBUDDYINT | UDS_ALIGNRIGHT | UDS_AUTOBUDDY | UDS_ARROWKEYS,51,128,11,14
    LTEXT           "ppm",IDC_STATIC,66,130,20,14

    CTEXT           "PLL LOCKED",IDC_TUNER_PLL,8,148,70,14,SS_CENTERIMAGE

    CTEXT           "Tuner Gain",IDC_STATIC,88,34,60,10
    CTEXT           "AGC",IDC_TUNER_GAIN,88,44,60,10
    CONTROL         "",IDC_TUNER_GAIN_CTL,"msctls_trackbar32",TBS_VERT | TBS_BOTH | WS_TABSTOP,104,56,30,66

    CONTROL         "Tuner AGC",IDC_TUNER_AGC,"Button",BS_AUTOCHECKBOX | BS_LEFTTEXT | BS_CENTER | WS_TABSTOP,88,126,60,8,WS_EX_TRANSPARENT
    CONTROL         "RTL AGC",IDC_RTL_AGC,"Button",BS_AUTOCHECKBOX | BS_LEFTTEXT | BS_CENTER | WS_TABSTOP,88,140,60,8,WS_EX_TRANSPARENT
    CONTROL         "Offset Tuning",IDC_TUNER_OFF_TUNING,"Button",BS_AUTOCHECKBOX | BS_LEFTTEXT | BS_CENTER | WS_TABSTOP,88,154,60,8,WS_EX_TRANSPARENT
END


/////////////////////////////////////////////////////////////////////////////
//
// DESIGNINFO
//

#ifdef APSTUDIO_INVOKED
GUIDELINES DESIGNINFO
BEGIN
    DLG_MAIN, DIALOG
    BEGIN
    END
END
#endif    // APSTUDIO_INVOKED


/////////////////////////////////////////////////////////////////////////////
//
// AFX_DIALOG_LAYOUT
//

DLG_MAIN AFX_DIALOG_LAYOUT
BEGIN
    0
END

#endif    // Neutral resources
/////////////////////////////////////////////////////////////////////////////


/////////////////////////////////////////////////////////////////////////////
// English (United States) resources

#if !defined(AFX_RESOURCE_DLL) || defined(AFX_TARG_ENU)
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
#pragma code_page(1252)

#ifdef APSTUDIO_INVOKED
/////////////////////////////////////////////////////////////////////////////
//
// TEXTINCLUDE
//

1 TEXTINCLUDE 
BEGIN
    "resource.h\0"
END

2 TEXTINCLUDE 
BEGIN
    "\0"
END

3 TEXTINCLUDE 
BEGIN
    "\r\n"
    "\0"
END

#endif    // APSTUDIO_INVOKED


/////////////////////////////////////////////////////////////////////////////
//
// Version
//

#define DLL_VERSION_INT		2020,12,0,0
#define DLL_VERSION_STR		"2020.12.0.0"

VS_VERSION_INFO VERSIONINFO
 FILEVERSION DLL_VERSION_INT
 PRODUCTVERSION DLL_VERSION_INT
 FILEFLAGSMASK 0x3fL
#ifdef _DEBUG
 FILEFLAGS 0x1L
#else
 FILEFLAGS 0x0L
#endif
 FILEOS 0x40004L
 FILETYPE 0x0L
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904b0"
        BEGIN
            VALUE "FileDescription", "RTL-SDR ExtIO plugin"
            VALUE "FileVersion", DLL_VERSION_STR
            VALUE "InternalName", "ExtIO_RTL"
            VALUE "LegalCopyright", "GPLv2 (rtl-sdr) - LGPLv2.1 (libusb)"
            VALUE "OriginalFilename", "ExtIO_RTL.dll"
            VALUE "ProductName", "ExtIO_RTL"
            VALUE "ProductVersion", DLL_VERSION_STR
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 1200
    END
END

#endif    // English (United States) resources
/////////////////////////////////////////////////////////////////////////////



#ifndef APSTUDIO_INVOKED
/////////////////////////////////////////////////////////////////////////////
//
// Generated from the TEXTINCLUDE 3 resource.
//


/////////////////////////////////////////////////////////////////////////////
#endif    // not APSTUDIO_INVOKED

