name: Windows build and Package

on: [workflow_dispatch, push, pull_request]
          
defaults:
  run:
    shell: PowerShell


jobs:
  build_ExtIO_RTL:
    strategy:
      matrix:
        os:
          #- 'windows-2022'
          - 'windows-2025'
        configuration:
          - 'Release'
        architecture:
          - 'Win32'
          - 'x64'
          #- 'ARM64'

    env:
      ARCH: ${{ matrix.architecture }}
      ARCH_NUM: "${{ matrix.architecture == 'x64' && '64' || (matrix.architecture == 'Win32' && '32' || 'amd64_arm64' )}}"
      CMAKE_ARCH: "${{ matrix.architecture == 'x64' && 'x64' || (matrix.architecture == 'Win32' && 'Win32' || 'ARM64' )}}"
      LONG_ARCH: "${{ matrix.architecture == 'x64' && 'x86_64' || (matrix.architecture == 'Win32' && 'x86' || 'ARM64' )}}"

    runs-on: ${{ matrix.os }}

    steps:
      - name: Install dependencies
        run: |
            python3 -m pip install -U pip
            pip3 install meson ninja
            choco install wget innoextract --no-progress

      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 2
          submodules:  ignore

      - name: check
        run: |
          Remove-Item -Path tomlplusplus -Recurse
          Remove-Item -Path libusb -Recurse
          Remove-Item -Path librtlsdr -Recurse
          Remove-Item -Path pthread-win32 -Recurse
          ls

      - name: Clone dependencies
        working-directory: ${{runner.workspace}}
        run: |
          cd ${{github.workspace}}
          #git clone https://github.com/marzer/tomlplusplus tomlplusplus
          #git clone https://github.com/GerHobbelt/pthread-win32 pthread-win32
          #git clone https://github.com/trev90211/librtlsdr
          #git clone https://github.com/libusb/libusb libusb
          git clone https://github.com/marzer/tomlplusplus.git
          git clone https://github.com/hayguen/pthread-win32.git
          git clone https://github.com/hayguen/librtlsdr.git
          git clone https://github.com/hayguen/libusb.git


      - name: ls dependencies
        working-directory: ${{runner.workspace}}
        run: |
          ls
          echo "********************************************"
          ls -Path "${{ runner.workspace }}"
          echo "********************************************"
          ls -Recurse -Exclude ".git,debian" -Path "${{ github.workspace }}/pthread-win32" 
          echo "********************************************"
          ls -Recurse -Exclude ".git,debian" -Path "${{ runner.workspace }}/libusb"
          echo "********************************************"
          ls -Recurse -Exclude ".git,debian" -Path "${{ runner.workspace }}/librtlsdr"
          echo "********************************************"
          ls -Recurse -Exclude ".git,debian" -Path "${{ github.workspace }}"
          echo "********************************************"



      - name: Setup MSBuild
        uses: microsoft/setup-msbuild@v2

      - name: Configure Visual Studio and CMake
        working-directory: ${{runner.workspace}}
        run: |
            # setup the compiler
            & "$env:programfiles\Microsoft Visual Studio\2022\Enterprise\VC\Auxiliary\Build\vcvars64.bat"  
            Get-Item env: > "$env:temp\vcvars.txt"
            echo "env before ********************************************"
            #gci env:*
            #echo "vcvars before ********************************************"
            #cat "$env:temp\vcvars.txt"
            #echo "********************************************"
            #Get-Content "$env:temp\vcvars.txt" | Foreach-Object { echo $_ }
            #echo "********************************************"
            #Get-Content "$env:temp\vcvars.txt" | Foreach-Object { echo ($_ "^(.*?)") }
            #echo "********************************************"
            #Get-Content "$env:temp\vcvars.txt" | Foreach-Object { echo ($_ -match "^(.*?)") }
            echo "********************************************"
            #Get-Content "$env:temp\vcvars.txt" | Foreach-Object { if ($_ -match "^(.*?)=(.*)$") { echo $_  } }
            #echo "********************************************"
            Get-Content "$env:temp\vcvars.txt" | Foreach-Object { if ($_ -match "^(.*?)\b*(.*)$") { Set-Content "env:$($matches[1])" $matches[2] } }
            # run cmake, looks v141_xp Toolset requires VS 2019
            #echo "env after ********************************************"
            #gci env:*
            #echo "vcvars after ********************************************"
            #cat "$env:temp\vcvars.txt"
            #echo "********************************************"
            cmake -G "Visual Studio 17 2022" -A ${{ matrix.architecture }} -S ExtIO_RTL -B build_ExtIO_RTL

      - name: Build
        working-directory: ${{runner.workspace}}
        run: |
            cmake --build build_ExtIO_RTL --config Release --target ExtIO_RTL


      - name: Collect files to distribute
        working-directory: ${{github.workspace}}
        run: |
          cp   ${{ runner.workspace }}/pthread-win32/shared/bin/*  dist/bin
          cp   ${{ runner.workspace }}/libusb/build/v143/x64/Release/dll/*.dll dist/bin
          # cp "${{github.workspace}}/ExtIO_RTL/README.md" ./
          # cp "${{github.workspace}}/ExtIO_RTL/COPYING" ./LICENSE


      - name: package and upload
        uses: actions/upload-artifact@v4
        with:
          name: ExtIO_RTL_${{ matrix.architecture }}_dist
          path: |
            dist/lib/rtlsdr.lib
            dist/bin
            dist/include
            COPYING
            AUTHORS
            README
            # ${{ runner.workspace }}/libusb/build/v143/x64/Release/dll/*.dll
            # ${{ runner.workspace }}/pthread-win32/shared/bin















